<div class="container">
  <div class="row">
    <h1>Places</h1>
  </div>

  <div class="d-grid gap-3">
  <ul>
    <% for place in @places %>
    <div class="p-2 bg-light border">
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </div>
    <% end %>
    
  </ul>

  <p>
    <a href="/places/new" class ="btn btn-primary" >New place</a>
  </p>
</div>